.insite-highlight {
    position: relative;
    background: #3498db;
}

.insite-highlight .insite-highlight-body {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    width: 250px;
    color: #e5fd11;
    background-color: #ecf0f1;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -125px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.insite-highlight-body .modal-header {
    align-items: center;
    text-align: center;
    box-shadow: 0px 3px 2px -1px #bdc3c7;
    background-color: #3498db;
    padding: 5px;
}

.insite-highlight-body .modal-header h1 {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.insite-highlight-body .modal-content {
    padding: 10px;
    font-size: 14px;
    font-weight: 300;
    color: #555555;
}

.insite-highlight:hover .insite-highlight-body {
    visibility: visible;
    opacity: 1;
}
